:root {
  --clr-black: #111;
  --clr-grey: #333;
  --clr-white: #fff;
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar__list {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: var(--clr-black);
}

.navbar__item {
  float: left;
}

.navbar__link {
  display: block;
  padding: 14px 16px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
  color: var(--clr-white);
}

.navbar__link:hover {
  background-color: var(--clr-grey);
}

.hero__image {
  background-image: url('./hero.jpg');
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  padding: 8vh 1vh;
  text-align: center;
  color: var(--clr-white);
  font-size: 1.25rem;
  font-family: var(--ff-heading);
  text-transform: uppercase;
}

.hero__headline-bottom :last-child {
  font-size: 0.875rem;
}

footer {
  width: 100%;
  background-color: var(--clr-black);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  padding: 2rem;
  text-align: center;
  color: var(--clr-white);
}
.contact__title > h2 {
  font-size: 3rem;
}

.contact__link {
  display: inline-block;
  padding: 14px 28px;
  border: none;
  color: var(--clr-white);
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: var(--transition);
}

.contact__link:hover {
  background-color: var(--clr-grey);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero__text {
    font-size: 2rem;
  }

  .hero__headline-bottom :last-child {
    font-size: 1.25rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero__text {
    font-size: 2.5rem;
  }

  .hero__headline-bottom :last-child {
    font-size: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
